<h1>New wine</h1>

<% if @wine.errors.any? %>
  <h3>Please fix these errors</h3>
  <ul>
    <% @wine.errors.full_messages.each do |message| %>
      <li><%=message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>

